{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png"
          href="{% static 'purbeurre/img/flavicon.png' %}"/>

    <title>Pur beurre</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'purbeurre/vendor/bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'purbeurre/vendor/fontawesome-free/css/all.min.css' %}"
          rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'purbeurre/vendor/magnific-popup/magnific-popup.css' %}"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'purbeurre/css/creative.min.css' %}" rel="stylesheet">
    <link href="{% static 'purbeurre/css/custom.css' %}" rel="stylesheet">

</head>

<body id="page-top">

{% if messages %}
    {% for message in messages %}
        <div class="toast" data-autohide="false" style="position: absolute;">
            <div class="toast-header">
                <strong class="mr-auto text-primary">Information</strong>
                <button type="button" class="ml-2 mb-1 close"
                        data-dismiss="toast">
                    &times;
                </button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">

        <a class="navbar-brand js-scroll-trigger"
           href="{% url 'purbeurre:index' %}">
            <img id="logo" src="{% static 'purbeurre/img/logo.png' %}"
                 alt="pure_beurre_logo">
            Pur beurre</a>
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger"
                           data-target="#loggout"
                           href="{% url 'purbeurre:logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'purbeurre:profile' %}"
                           data-target="#user"><i
                                class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'purbeurre:my_products' %}"
                           data-target="#carrot" class="nav-link">
                            <i class="fas fa-carrot"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger"
                           data-target="#login"
                           href="{% url 'purbeurre:login' %}">
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger"
                           data-target="#signup"
                           href="{% url 'purbeurre:signup' %}">
                            <i class="fas fa-user-plus"></i>
                        </a>
                    </li>
                {% endif %}
                {% block nav_right %}
                {% endblock %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
            {% if navbar_search_form %}
                <form class="form-inline my-2 my-lg-0" method="post"
                      action="{% url 'purbeurre:index' %}">
                    {% csrf_token %}
                    {{ navbar_search_form.search|add_class:"form-control mr-sm-2"|attr:"autocomplete:off" }}
                    <button class="btn btn-primary my-2 my-sm-0"
                            type="submit">Chercher
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<section id="contact" class="background_color_rooibos_chocolat text-white">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <h2 class="section-heading">Contactez-nous !</h2>
                <hr class="my-4">
                <p class="mb-5">Vous avez trouvé une erreur sur le site ? Il
                    y a
                    un problème avec un produit ? N'hésitez pas à nous
                    contacter.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-md-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:retours@purbeurre.com">retours@purbeurre.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="background_color_moules text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
                    <h3 class="mb-3"><a href="{% url 'purbeurre:credits' %}">Mentions
                        légales</a></h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
                    <h3 class="mb-3">
                        <a class="js-scroll-trigger"
                           href="#contact">Contact</a>
                    </h3>
                    <p class="mb-0">Nous serons heureux d'échanger
                        avec vous !</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                    <h3 class="mb-3"><a
                            href="https://github.com/ivan-fr/oc_projet_8"
                            target="_blank">Code source</a></h3>
                    <p class="mb-0">Pour les développeurs, les
                        correcteurs et les curieux !</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'purbeurre/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'purbeurre/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'purbeurre/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'purbeurre/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
<script src="{% static 'purbeurre/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'purbeurre/js/creative.min.js' %}"></script>
<script>
    $(document).ready(function () {
        _height = $('nav').outerHeight();
        toasts = $('.toast');
        toasts.css({top: (_height + 10).toString() + 'px', 'left': '20px'});
        toasts.toast('show');
    });
</script>
</body>

</html>
