{% extends 'purbeurre/base.html' %}

{% block nav_right %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#credits">Mentions
            légales</a>
    </li>
{% endblock %}

{% block content %}
    <header class="smallheader text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="background_color_moules text-uppercase">
                        Mentions légales
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <section id="credits">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2>Responsables</h2>
                    <hr>
                    <p>Colette et Rémy.</p>
                    <p>Tél. : 12-34-56-67-89</p>
                    <p><a href="mailto:retours@purbeurre.com">retours@purbeurre.com</a>
                    </p>
                    <br>
                    <h2>Resources</h2>
                    <hr>
                    <p>Le site est hébergé par <a
                            href="https://www.heroku.com/">Heroku</a> dans sa
                        version gratuite.</p>
                    <p>Les données sont issues de la base <a
                            href="https://openfoodfacts.org">OpenFoodFacts</a>
                    </p>
                    <p><em>La photo de la banière en haut de page est de : </em><a
                            href="https://unsplash.com/photos/eqsEZNCm4-c">
                        Olenka Kotyk</a></p>
                    <p><em>L'icone carotte est de : </em> <a
                            href="https://thenounproject.com/FabienJ/"> Fabien
                        Jouin </a></p>
                    <p><em>Thème utilisé : </em><a
                            href="https://startbootstrap.com/template-overviews/creative/">Startbootstrap-creative</a>
                    </p>
                    <p><em>Conception du site</em> : BESEVIC Ivan. <br></p>
                    <p>Le présent site est le travail d'étude issu du 8ème
                        projet du <a
                                href="https://openclassrooms.com/fr/paths/68-developpeur-dapplication-python"
                                title="Open Classrooms - Développeur d'application Python">pacours
                            développeur d'application Python</a> proposé par <a
                                href="https://openclassrooms.com"
                                title="Site d'OpenClassrooms">OpenClassrooms</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}